.castillo{
    width: 380px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    
}

.principal{
    width: 60px;
}
.facebook{
    width: 30px;
}

.whatsapp{
    width: 30px;
}

.instagram{
    width: 30px;
}

.linkedin{
    width: 30px;
}

.iconos{
    display: flex;
    margin-top: 10px;
    padding: 5px;
    justify-content: center;
}

.amazonas{
    width: 380px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
}
.guajira{
    width: 380px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
}

.pianguita{
    width: 260px;
    height: 180px;
    border: 3px solid rgb(0, 0, 0);   
}

.calima{
    width: 260px;
    height: 180px;
    border: 3px solid rgb(0, 0, 0); 

}
.nevado{

    width: 260px;
    height: 180px;
    border: 3px solid rgb(0, 0, 0); 

}

.yanaconas
{
    height: 200px;
    width: 460px;
    border: 3px solid rgb(0, 0, 0);
    
}

.parqueCafe{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}

.tardesCalenas{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
  
}

.ukumari{
    height: 200px;
    width: 460px;
    border: 3px solid rgb(0, 0, 0);
}

.sanCipriano{
    
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}

.termales{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}